@import "tailwindcss";
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.97); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";
